{% extends "admin/base.html" %}
{% load static i18n %}

{% block title %}BrainAudio administrative panel{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/custom.css' %}">
{% endblock %}


{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'images/BrainAudioLogoAdmin.svg' %}" alt="BrainAudio" height="48" style="vertical-align: middle; margin-right: 8px;">
    BrainAudio Admin Panel
  </a>
</h1>
{% endblock %}


{% block nav-global %}{% endblock %}
